n8n/workflows/document-processing.json
{
  "name": "Document Processing Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "document-uploaded",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Document Uploaded",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "=http://localhost:8000/api/documents/{{$json[\"document_id\"]}}/analyze",
        "method": "POST",
        "options": {}
      },
      "id": "analyze-document",
      "name": "Analyze with OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "=http://localhost:8000/api/documents/{{$json[\"document_id\"]}}",
        "method": "PUT",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{$json[\"suggested_title\"]}}"
            },
            {
              "name": "author",
              "value": "={{$json[\"suggested_author\"]}}"
            },
            {
              "name": "category",
              "value": "={{$json[\"suggested_category\"]}}"
            },
            {
              "name": "tags",
              "value": "={{$json[\"suggested_tags\"]}}"
            },
            {
              "name": "description",
              "value": "={{$json[\"summary\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-document",
      "name": "Update Document Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Document processed successfully\" } }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook - Document Uploaded": {
      "main": [[{ "node": "Analyze with OpenAI", "type": "main", "index": 0 }]]
    },
    "Analyze with OpenAI": {
      "main": [[{ "node": "Update Document Metadata", "type": "main", "index": 0 }]]
    },
    "Update Document Metadata": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
